
.black {
    background: black;
    color: white;
    mix-blend-mode: multiply;
  }
   .white {
    background: white;
    color: black;
    mix-blend-mode: screen;
  }
  /*////////////////////////////*/
  .heading {
    font-family: sans-serif;
    font-size: 200px;
    width: 1200px;
    height: 900px;
    line-height: 250px;
    text-align: center;
  }
  body {
    background: url(https://miro.medium.com/max/1400/0*RQp7rf-rTOODM_FY.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  html {
    height: 100%;
    /* html needs a background color for -mix-blend-mode
       to work in chrome */
    background: white;
  }