.black {
    background: black;
    color: white;
    mix-blend-mode: multiply;
  }
   .white {
    background: white;
    color: black;
    mix-blend-mode: screen;
  }
  /*////////////////////////////*/
  .heading {
    font-family: sans-serif;
    font-size: 80px;
    width: 500px;
    height: 120px;
    line-height: 120px;
    vertical-align: center;
    text-align: center;
    margin: 30px;
  }
  body {
    background: url(https://unsplash.it/1600?image=974) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  html {
    height: 100%;
    /* html needs a background color for -mix-blend-mode
       to work in chrome */
    background: white;
  }