html {
    background: #4b8219;
}

h1 {
    color: mediumpurple;
	font-family: 'Times New Roman', Times, serif;
}

h2 {
	color: linen;
	font-family:'Times New Roman', Times, serif;
}

#listone {
	color: linen;
	font-family: 'Times New Roman', Times, serif;
}

li {
	color: linen;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

p {
	color: linen;
	font-size: 20px;
}

a {
	color: mediumpurple;
}
