body {
    margin:0;
    background-color:rgb(182, 202, 145);
}

h1 {
    color:rgb(108, 124, 78);
    font-size: 50px;
    font-style: italic;
}

h3 {
    color:rgb(108, 124, 78);
    font-size: 20px;
}

.leftheadings {
    color: sienna;
}

#paragraph1 {
    color: rgb(236, 198, 181);
    text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color:sienna;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(108, 124, 78);
  color: rgb(236, 198, 181);
}

.active {
  background-color:moccasin;
  color:rgb(108, 124, 78);
}