html {
    background-color: floralwhite;
}

body {
    color:rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color:darkolivegreen;
    font-family:;
}

#greenshadow {
    text-shadow: 2px 2px 1px forestgreen;
}

h3 {
    color:darkolivegreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color:rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#poem {
    align-items: center;
    text-align: left;
}

#unordered {
    text-align: center;
}

ul {
    color: rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:inline-block;
    text-align: left;
}

#ordered {
    text-align: center;
    align-items: center;
}

ol {
    color:rosybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:inline-block;
    text-align: left;
}

#stickers {
    float: center;
}

iframe {
    display: inline-block;
    align-items: center;
}

#box1 {
    background-color: antiquewhite;
    width: 300px;
    border: none;
    padding: 10px;
    margin: 10px;
    float: left;
}

#box2 {
    background-color: antiquewhite;
    width: 450px;
    border: none;
    padding: 10px;
    margin: 10px;
    float: right;
}
