body {
    background-color: midnightblue;
}

img {
    position: absolute;
    top: 275px;
    left: 37%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 253.5px;
}