html {
    font-size: 62.5%;
    background: url("/lab-2022/assignment-6/images/underwater2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

h1 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    color:#00284e;
    text-align: center;
    z-index: 1;
}

h3 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #00284e;
    text-align: center;
    z-index: 1;
}

#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rbg(251, 255, 254), rbg(242, 261, 249));
}

.bubble {
    position: absolute;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.sparklingbubble {
    position: absolute;
    top: 10%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.small{
    width: 10px;
    height: 10px;
    left: 60%;
    animation: flow-s 4s linear infinite;
}
.small-l{
    width: 10px;
    height: 10px;
    left: 43%;
    animation: flow-s-l 2s linear infinite;
}
.s-medium{
    width: 20px;
    height: 20px;
    left: 43%;
    animation: flow-s-m 3s linear infinite;
}
.medium{
    width: 25px;
    height: 25px;
    left: 45%;
    animation: flow-m 2.5s linear infinite;
}
.large{
    width:5px;
    height: 5px;
    left: 50%;
    animation: flow-l 4s linear infinite;
}
  
.small2 {
    width: 10px;
    height: 10px;
    left: 20%;
    animation: flow-s2 4s linear infinite;
}
.small-l2 {
    width: 10px;
    height: 10px;
    left: 10%;
    animation: flow-s-l2 2s linear infinite;
}
.s-medium2 {
    width: 20px;
    height: 20px;
    left: 10%;
    animation: flow-s-m2 3s linear infinite;
}
.medium2 {
    width: 25px;
    height: 25px;
    left: 15%;
    animation: flow-m2 2.5s linear infinite;
}
.large2 {
    width:5px;
    height: 5px;
    left: 20%;
    animation: flow-l2 4s linear infinite;
}

@keyframes flow-l {
    0% {
      top: 100%;
      left: 57%;
      opacity:0;
    }
    25%{
      top: 70%;
      left: 57.5%;
      opacity: 1;
    }
    50%{
      left: 56%;
      opacity: 1;
    }
    75%{
      left: 53%;
      opacity: 1;
    }
    100% {
      top: 48%;
      left: 57%;
      opacity: 0;
    }
}
  
@keyframes flow-s {
    0% {
      top: 100%;
      left: 50%;
      opacity:0;
    }
    25%{
      top: 80%;
      left: 51%;
      opacity: 1;
    }
    50%{
      top: 65%;
      left: 52%;
      opacity: 1;
    }
    75%{
      top: 50%;
      left: 51%;
      opacity: 1;
    }
    100% {
      top: 35%;
      left: 50%;
      opacity: 0;
    }
}
  
@keyframes flow-s-m {
    0% {
      top: 100%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 90%;
      left: 42.5%;
      opacity: 1;
    }
    50%{
      top: 60%;
      left: 42%;
      opacity: 1;
    }
    75%{
      top: 50%;
      left: 42.5%;
      opacity: 1;
    }
    100% {
      top: 40%;
      left: 43%;
      opacity: 0;
    }
}
  
@keyframes flow-m {
    0% {
      top: 100%;
      left: 45%;;
      opacity:0;
    }
    25%{
      top: 70%;
      left: 44.5%;
      opacity: 1;
    }
    50%{
      top: 50%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 35%;
      left: 44.5%;
      opacity: 1;
    }
    100% {
      top: 20%;
      left: 45%;
      opacity: 0;
    }
}
  
@keyframes flow-s-l {
    0% {
      top: 100%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 75%;
      left: 43.5%;
      opacity: 1;
    }
    50%{
      top: 50%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 40%;
      left: 43.5%;
      opacity: 1;
    }
    100% {
      top: 20%;
      left: 43%;
      opacity: 0;
    }
}

@keyframes flow-l2 {
    0% {
      top: 100%;
      left: 25%;
      opacity:0;
    }
    25%{
      top: 70%;
      left: 26%;
      opacity: 1;
    }
    50%{
      left: 28%;
      opacity: 1;
    }
    75%{
      left: 25%;
      opacity: 1;
    }
    100% {
      top: 20%;
      left: 26%;
      opacity: 0;
    }
}
  
@keyframes flow-s2 {
    0% {
      top: 100%;
      left: 20%;
      opacity:0;
    }
    25%{
      top: 80%;
      left: 21%;
      opacity: 1;
    }
    50%{
      top: 65%;
      left: 23%;
      opacity: 1;
    }
    75%{
      top: 50%;
      left: 25%;
      opacity: 1;
    }
    100% {
      top: 35%;
      left: 23%;
      opacity: 0;
    }
}
  
@keyframes flow-s-m2 {
    0% {
      top: 100%;
      left: 10%;;
      opacity:0;
    }
    25%{
      top: 90%;
      left: 9%;
      opacity: 1;
    }
    50%{
      top: 60%;
      left: 8%;
      opacity: 1;
    }
    75%{
      top: 50%;
      left: 9%;
      opacity: 1;
    }
    100% {
      top: 40%;
      left: 10%;
      opacity: 0;
    }
}
  
@keyframes flow-m2 {
    0% {
      top: 100%;
      left: 15%;;
      opacity:0;
    }
    25%{
      top: 70%;
      left: 16%;
      opacity: 1;
    }
    50%{
      top: 50%;
      left: 15.5%;
      opacity: 1;
    }
    75%{
      top: 35%;
      left: 17%;
      opacity: 1;
    }
    100% {
      top: 20%;
      left: 10%;
      opacity: 0;
    }
}
  
@keyframes flow-s-l2 {
    0% {
      top: 100%;
      left: 10%;;
      opacity:0;
    }
    25%{
      top: 75%;
      left: 11%;
      opacity: 1;
    }
    50%{
      top: 50%;
      left: 12%;
      opacity: 1;
    }
    75%{
      top: 40%;
      left: 14%;
      opacity: 1;
    }
    100% {
      top: 20%;
      left: 11%;
      opacity: 0;
    }
}
