html {
    font-size: 62.5%;
    background: url("/lab-2022/assignment-6/images/underwater2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

h1 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    color:#00284e;
    text-align: center;
}

h3 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #00284e;
    text-align: center;
}

#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rbg(251, 255, 254), rbg(242, 261, 249));
}

.bubble {
    position: absolute;
    width: 10%;
    height: auto;
}
