html {
    background-color: rgb(228, 97, 119);
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size: 8.5rem;
    color:rgb(177, 214, 179);
    font-family: carbon, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0%;
}

h2 {
    font-size: 4.5rem;
    line-height: 1.2em;
    color: rgb(177, 214, 179);
    width: 20ch;
    font-family: carbon, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none !important;
}

.shelf {
    border-bottom: 10px solid saddlebrown; 
    margin-bottom: 2em; 
    display: flex;
    align-items: flex-end;
}

.shelf .book-spine {
    background:floralwhite;
    color: rgb(228, 97, 119);
    height: 300px;
    width: 220px;
    padding: 10px;
    margin-bottom: 2px;
    margin-right: 2px; 
  /*   height: 300px;
    width: fit-content; 
    padding: 10px 0px; 
    transform: rotate(180deg);
    writing-mode: vertical-lr; */
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}
  
.shelf .book-spine.active {
    background: rgb(77, 14, 25);
    position: relative;
    top: 15px;
}
  
.shelf .book-spine:hover {
    background: rgb(177, 214, 179);
    color:floralwhite;
    position: relative;
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes hover {
    from{top:0px;}
    to{top:15px;}
}

.book-detail {
    display: flex;
    margin-top: 30px;
  }
  
.book-detail .figure {
    width: 200px;
    flex: none;
    margin-right: 30px;
}
  
.book-detail .cover-image {
    width: 100%;
  /*   border: 5px solid black; */
    padding: 5px;
    box-sizing: border-box;
}
  
.book-detail .info {
    max-width: 600px;
}
  
.book-detail .title {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 0;
}
  
.book-detail .description {
    margin-top: 0.5em;
    font-size: 2em;
    line-height: 1.5;
}

.book-detail .author {
    margin-top: 0;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    .book-detail {
      flex-direction: column;
    }
    .book-detail .figure {
      width: 100%;
      max-width: 300px;
      margin: auto;
      margin-bottom: 2em;
    }
  }