html {
  background-color: midnightblue;
}

[id^=modal] {
  display: none;
  position: sticky;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-top: 30%;
  padding-bottom: 30%; 
  max-height: 50em;
  min-width: 24em;
  max-width: 25em;
  }

input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
  }

#star1 {
  display: flex;
  position: fixed;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: white;
  opacity: 90%;
  box-shadow: 0px 0px 19px rgb(225, 225, 233), 0px 0px 20px rgb(182, 182, 206), 0px 0px 21px rgb(147, 147, 192), 0px 0px 22px rgb(101, 101, 163);
}

#star2 {
  display: flex;
  position: fixed;
  top: 55%;
  left: 40%;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: white;
  box-shadow: 0px 0px 21px rgb(225, 225, 233), 0px 0px 22px rgb(182, 182, 206), 0px 0px 23px rgb(147, 147, 192), 0px 0px 24px rgb(101, 101, 163); 
}

#modal1:target {
  display: block;
  color: white;
  overflow: auto;
  }

#modal2:target {
  display: block;
  }

[id^=modal] a {
  float: right;
  }