body {
  background-color: rgb(19, 17, 110);
}

.myBtn {
  height: 4%;
  width: 4%;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: rgb(116, 137, 197);
  opacity: 70%;
  margin: auto;
  padding: 50px;
  padding-bottom: 15%;
  border: none;
  width: 70%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .6875em;
  text-align: justify;
}

.beauty {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}