body {
  background-color: midnightblue;
  overflow: hidden;
}

[id^=modal] {
  display: none;
  position: sticky;
  border: none;
  top: 15%;
  left: 28%;
  padding-top: 5%;
  padding-bottom: 10%; 
  max-height: 2em;
  min-width: 28em;
  max-width: 28em;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  z-index: 0;
  text-align: justify;
  overflow-y: scroll;
  }

  [id^=star] {
    z-index: 1;
  }

input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
  }

#star1 {
  display: flex;
  position: fixed;
  top: 20%;
  left: 17%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: white;
  opacity: 90%;
  box-shadow: 0px 0px 15px 11px white;
  animation-name: star-glow1;
  animation-duration: 19s; 
  animation-timing-function: ease-in-out; 
  animation-delay: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes star-glow1 {
  0% {
    opacity: .3;
    background-color: white;
  }
  30% {
    opacity: .5;
    background-color: white;
  }
  60% {
    opacity: .2;
    background-color:white;
  }
  80% {
    opacity: 1;
    background-color: white;
  }
  100% {
    opacity: .3;
    background-color: white;
  }
}

#star2 {
  display: flex;
  position: fixed;
  top: 55%;
  left: 30%;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: white;
  box-shadow: 0px 0px 17px 13px white;
  animation-name: star-glow2;
  animation-duration: 19s; 
  animation-timing-function: ease-in-out; 
  animation-delay: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}

@keyframes star-glow2 {
  0% {
    opacity: .3;
    background-color: white;
  }
  20% {
    opacity: .8;
    background-color:white;
  }
  70% {
    opacity: .4;
    background-color:white;
  }
  90% {
    opacity: .3;
    background-color: white;
  }
  100% {
    opacity: .3;
    background-color: white;
  }
}

#star3 {
  display: flex;
  position: fixed;
  top: 53%;
  left: 53%;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  background-color: white;
  box-shadow: 0px 0px 14px 10px white;
  animation-name: star-glow3;
  animation-duration: 19s; 
  animation-timing-function: ease-in-out; 
  animation-delay: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}

@keyframes star-glow3 {
  0% {
    opacity: 1;
    background-color: white;
  }
  20% {
    opacity: .7;
    background-color:white;
  }
  70% {
    opacity: .2;
    background-color: white;
  }
  90% {
    opacity: .5;
    background-color: white;
  }
  100% {
    opacity: 1;
    background-color:white;
  }
}

#star4 {
  display: flex;
  position: fixed;
  top: 83%;
  left: 63%;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-color: white;
  box-shadow: 0px 0px 13px 9px white;
  animation-name: star-glow4;
  animation-duration: 19s; 
  animation-timing-function: ease-in-out; 
  animation-delay: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}

@keyframes star-glow4 {
  0% {
    opacity: .7;
    background-color:white;
  }
  20% {
    opacity: .2;
    background-color: white;
  }
  70% {
    opacity: .4;
    background-color: white;
  }
  90% {
    opacity: .9;
    background-color:white;
  }
  100% {
    opacity: .7;
    background-color: white;
  }
}

#star5 {
  display: flex;
  position: fixed;
  top: 62%;
  left: 79%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px 11px white;
  animation-name: star-glow5;
  animation-duration: 19s; 
  animation-timing-function: ease-in-out; 
  animation-delay: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}

@keyframes star-glow5 {
  0% {
    opacity: .3;
    background-color: white;
  }
  20% {
    opacity: .6;
    background-color:white;
  }
  70% {
    opacity: .4;
    background-color: white;
  }
  90% {
    opacity: 1;
    background-color:white;
  }
  100% {
    opacity: .3;
    background-color: white;
  }
}

#modal1:target {
  display: block;
  position: sticky;
  align-content: center;
  text-align: justify;
  color: white;
  overflow-y: scroll;
  overflow: auto;
  }

#modal2:target {
  display: block;
  position: sticky;
  left: 39%;
  align-content: center;
  text-align: left;
  color: white;
  overflow-y: scroll;
  overflow: auto;
  }

  #modal3:target {
    display: block;
    position: sticky;
    align-content: center;
    text-align: justify;
    color: white;
    overflow-y: scroll;
    overflow: auto;
  }

  #modal4:target {
    display:block;
    position: sticky;
    left: 39%;
    align-content: center;
    text-align: left;
    color: white;
    overflow-y: scroll;
    overflow: auto;
  }

  #modal5:target {
    display: block;
    position: sticky;
    align-content: center;
    text-align: justify;
    color: white;
    overflow-y: scroll;
    overflow: auto;
  }

[id^=modal] a {
  float: right;
  }

  [id^=modal]::-webkit-scrollbar {
    display: none;
  }
