#parent {
	position: relative;
	width: 300px;
	height: 300px;
	border: none;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
}

#child {
    color: red;
    opacity: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	top: -40px;   /* -child size/2 */
	left: 110px;   /* parent size/2 - child size/2 */
}

