html {
    background-color:rgb(245, 237, 229);
}

h1 {
    font-size: 5.2em;
    font-family: carol-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(83, 42, 24);
    text-align: center;
}

h1:hover span {
    display: none;
}

h1:hover:before {
    content: "Cathédrale Notre-Dame de Chartres"
}

p {
    font-size: 1.3em;
    font-family: minerva-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(83, 42, 24);
    text-align:justify;
}

#information {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 5%;
}

img {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 30%;
    height: auto;
    padding: 5%;
}