body {
    background-color: midnightblue;
}

h1 {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:lightcoral;
}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:linen;
}

img {
    height: 90px;
    width: 120px;
}

blockquote {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: linen;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: linen;
}

li {
    list-style-type: square;
    color:darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color:azure;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notionlink {
    background-color: lavenderblush;
    color:darkgreen;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#googledrive {
    text-decoration: none;
    color: darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#canvaslink {
    background-color: lavenderblush;
    color:darkgreen;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dropbox {
    text-decoration: none;
    color: darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

